body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
      margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*header */
header{
    flex-basis: 100%;
    height: 500px;
    background-image: url("../images/header.jpg");
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'open sans';

}
.menu-icon , .menu-btn{
    display: none;
}
.menu-icon{
    width: 100%;
}
.nav{
    display: flex;
 flex-basis: 25%;
 font-size: 12px;
}
.logo{
    flex-basis: 20%;
    margin-left: 10px;
    margin-top: 40px;
}  


.phone{
    flex-basis: 17.5%;
    margin-top: 10px;

}
.phone img {
    margin-left: 5px;
    width: 10px;
    height: 10px;
}
.email{

    flex-basis: 17.5%;
    margin-top: 10px;

}
.email img{
    margin-left: 2px;
    width: 15px;
    height: 10px; 
}

.navbar{
    flex-basis: 45%;
    list-style-type: none;
}
.navbar li{
    float: left;
    padding: 5px 10px 5px 10px;
    border: none;

    
}
a{
    text-decoration: none;
    color: white;
}
.prom{
    flex-basis: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.discover{
    flex-basis: 80%;
    margin-left: 10%;
}
.padding{
    width:20px;
    padding: 5px;
    border-radius: 50%;
    background-color: #357AB4;
}
.phonetext {
    margin-top: -20px;
    margin-left: 40px;
}
.logotext{
    font-size: 20px;
    margin-top: -30px;
    margin-left: 40px;
}

.explore{
    margin-left: 200px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border: none;
}

@media(max-width: 1024px) {
    header {
        flex-basis: 100%;
    }
    .phone , .email {
        display : none; 
    }
    .menu-icon{
        display: block;
        background-color: black;
        width: 100%;
        height: 50px;
        position: fixed;
        z-index: 3;
    }
    .menu-btn:checked ~.nav{
        display: block;
        /* margin-top: -40px; */
        text-align: center;
        background-color: black;

    }
    .navbar {
           display: none;
           margin-top: 55px;
           text-align: center;    
           position: fixed;
           width: 100%; 
           margin-top: 15%;
           text-align: center;
    }
    .menu-btn:checked ~.navbar{
        max-height: 100%;
        margin-top: 30%;
    }
    .menu-btn:checked ~.nav ul {
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    .logo{ 
        margin-top:40px ;
        position: fixed;
        z-index: 4;
        font-size: 12px;
    } 
    .nav- div{
        width: 100%;
        width: 35px;
        height: 3px;
        background-color: white;
        margin-top: 5px;
        z-index: 5;
        }
    
    .nav-{
            margin: 15px;
    }
}

        /* }.destinationimg{
            width: 70%;
        }
        .destinationtext{
            margin-top: 40%;

        }
        .destinationimg img{
            display: none;
        } */
    
        @media (max-width:500px)  {
            .logo{
                margin-left: 27%;
                position: fixed;
            }}
        @media (max-width:1024px) and (min-width:501px) {
            .logo{
                margin-left: 45%;
                position: fixed;
            }

        }
        @media (max-width:335px) and (min-width:320px) {
        .navbar {
            margin-top: 13%;
        }
    }

    @media (max-width:350px) and (min-width:336px) {
        .navbar {
            margin-top: 13%;
        }
    }
    @media (max-width:386px) and (min-width:351px) {
        .navbar {
            margin-top: 13%;
        }
    }
    @media (max-width:476px) and (min-width:387px) {
        .navbar {
            margin-top: 10%;
        }
    }
    @media (max-width:578px) and (min-width:477px) {
        .navbar {
            margin-top: 8%;
        }
    }
    @media (max-width:700px) and (min-width:579px) {
        .navbar {
            margin-top: 7%;
        }
    }
    @media (max-width:800px) and (min-width:701px) {
        .navbar {
            margin-top: 6%;
        }
    }
    @media (max-width:1000px) and (min-width:801px) {
        .navbar {
            margin-top: 5%;
        }
    }
    @media (max-width:1024px) and (min-width:1001px) {
        .navbar {
            margin-top: 4%;
        }
        
    }


/*content*/
section{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 1, 0.43),rgba(0, 0, 1, 0.45)) , url(../images/NoPath.png);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    margin-bottom: 10%;

 
}
h2 { 
    text-align: center;
    color: #357AB4;
}

.p1{ 
  
    margin-top: 10px;
    display: flex;
    margin: auto;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family:  open sans;
    font-weight: 700;
   }



.part1
{   color:black;
    font-family:  open sans;
    font-weight: 600;
    width:90%;
    height: 1000px;
    margin: auto;

   }
.p3{ 
    width: 100%;
    height: 50%;
    display: flex;
  
}
.p2{
    width: 100%;
    height: 50%;
    display: flex;
}
.img1{
    width: 50%;
    height: 100%;
    background-image: url(../images/marrakech.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ph1{
    width: 50%;
    height: 100%;
    background-color: #E2EAF0;
      box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
  
 
}
.img2{width: 50%;
    height: 100%;
    background-image: url(../images/htravel.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ph2{
    width: 50%;
    height: 100%;
    background-color: #E2EAF0;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
   
}
.text {
  padding-top: 80px;
    text-align:left;
    padding-left: 20px;
}



  .cont2{
      
      
    width:90%;
    height: 500px;
    margin: auto;
    background-color:#E2EAF0;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
 
  }
.phrase1
{
    flex-basis:33.33%;
     height: 500px;
      
}
.phrase2
{
         flex-basis:33.33%;
         height: 500px;
       
}
.phrase3
{
        flex-basis: 33.33%;
         height: 500px;
       
}
.icon1
{     padding-top: 40px;
        height:200px;
       text-align: center;
}

.icon2
{       padding-top: 40px;
        height: 200px;
        text-align: center;
}
.icon3
{        padding-top: 40px;
        height: 200px;
       text-align: center;
}

.bo1
{
      text-align: center;
      font-family: Open Sans;
      color:black;
      font-weight: 600;
    
   
}
.bo2
{
    text-align: center;  
    font-family: Open Sans;
    color: black; 
    font-weight: 600;
    
}
.bo3
{
    text-align: center;
    font-family: Open Sans;
    color: black;
    font-weight: 600;
    
  
}



@media (max-width:900px)
{
    section
    {
         background-size: cover;
        background-position: center; 
    }
   
.p1
    {
         font-size: 15px; 
    
    }
    .part1
    { 
        width: 90%;
        height: 800px;
        justify-content: space-around;
      
    }
    .img1{width: 45%;
    height: 300px;
    background-position:center;
    background-size: cover;
    }
    
    .img2{width: 45%;
    height: 300px;
    background-position:left;
    background-size: cover;
    }
    .ph1{ 
        width: 45%;
    height: 300px;
        
    }
    .ph2
    {
    width: 45%;
    height: 300px;
    }
    .text{
        padding: 10px;
       font-size: 10px;
    }
    
 .cont2
    { 
         flex-direction: column;
         font-size: 15px;
         height: max-content;
    }
   .icon1,.icon2, .icon3
{       
    padding-top: 40px;
    padding-bottom: 60px;
    height: 100px;
    text-align: center;
}
    
}

/*fotter */

footer{
    width: 100%;
    
}
.explore img{
    width: 10px;
    height: 10px; 
}
.sendmail{
    width: 100%;
    background-image: url("../images/mon12.jpg");
    height: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Open Sans;
}
.h1{
    flex-basis: 40%;
}
.sendmail h1{
    margin-left: 200px;
    margin-top: 20px;
    font-size: 15px;
}
.p{
    flex-basis: 10%;
}
.logotext2{
    color: #C49D48;
    font-size: 20px;
    margin-top: -30px;
    margin-left: 40px;

}
.input{
    flex-basis: 50%;
}
.sendmail p{
    margin-left: 200px;
    font-size: 12px;
    margin-top: -10px;
}
.sendmail input{
    margin-left: 200px;
    padding: 10px 200px 10px 20px;
}
.input img{
    width: 20%;
    height: 20px;
}
.input button{
    padding: 4px 25px 10px 5px;
    background-color: #C49D48;
    border: none;
}
.footer2{
 display: flex;
 width: 100%; 
 flex-direction: row;
 flex-wrap: wrap;
 height: 300px;
 font-size: 12px;
 font-family: Open Sans;
}
.footer2 h3{
    font-weight: bold;
    color: #688095;
}
.footer2 ul {
    list-style-image: url("../images/arrow.png");
}
.footer2 li{
    color: #AAA9A9;
}
.box4 p{
    color: #AAA9A9;
}
.box1{
    flex-basis: 35%;   
}

.b1{
    margin-top: 50px;
    margin-left: 150px;
    color: #688095;
}
.box1 img{
    width: 10%;
    height: 25px;
}
.box2{
    flex-basis: 15%;
    margin-left: 50px;
    margin-top: 40px;

}
.box3{
    flex-basis: 15%;
    margin-left: 50px;
    margin-top: 40px;
}
.box4{
    flex-basis: 20%;
    margin-top: 40px;

}
.copyright{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #688095;
    color: white;
    font-size: 15px;
}
.box5{
    flex-basis: 65%;
    margin-left: 200px;
    margin-top: -10px;
}

.box6{
    flex-basis: 10%;
    margin-top: -10px;
}
.box7{
    flex-basis: 25%;
    margin-top: -10px;
    margin-left: 10px;
}
.social img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


@media (max-width:900px)
{


    .sendmail
    { 
         flex-wrap:wrap;
         height: max-content;
         width: 100%;
      flex-direction: column;
       background-size: cover;
        background-position: center;
    }

.sendmail p{
    margin-left: 10px;
    font-size: 10px;
    margin-top: 10px;
 
}
.sendmail input{
    margin-left:10px;
    padding: 5px 50px 5px 10px;
}
.input img{
    width: 10%;
    height: 10px;
}
.input button{
     margin-left:10px;
   padding: 2px 15px 5px 3px;
    background-color: #C49D48;
    border: none;
     justify-content: center;
    
}
    
   .sendmail h1 
    { 
       margin-left: 10px;
       }
   
    .footer2
    { 
        margin-left: 0px;
        flex-wrap: wrap;
        font-size: 9px;
        justify-content: space-around;
        height: max-content;
    }
    .box1,.box4
    { 
        flex-basis:33%;
        margin-left: 0px;
        justify-content: space-around;
        order: 1;
       
    }
    .b1 { 

    margin-left: 0;
    }
     .box2,.box3
    {  flex-basis:40%;
       margin-left: 0px;
       justify-content: space-around;
    }
     
    .copyright
    { 
        height: 100px;
        flex-direction: column;
   
    }

    .box5 ,.box6 ,.box7
    {   
     text-align: center;
     margin-left: 0px;
    }
 

    
    
        
    }
